= month_calendar do |date|
  = link_to date.day, "groups/#{date.year}-#{format("%02d", date.month)}-#{format("%02d", date.day)}"

.header
  %ul.header__lists
    %li.list
      = link_to new_group_path do
        = fa_icon 'pencil-square-o', class: 'icon', data: {turbolinks: false}
    %li.list
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog', class: 'icon'